<!DOCTYPE html>
<html>
  <title> Capstone Equity Prtfolio </title>


<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <h1> CAPSTONE EQUITY PORTFOLIO </h1>

</head>

<body>
   <ul>
    <h2> CURRENT HOLDINGS </h2>
    <li> <a href="/dis" >Disney</a> </li>
    <li> <a href="/nvda" >Nvidia</a> </li>
    <li> <a href="/kopn" >Kopin<a/> </li>
    <li> <a href="/calm" >Cal-Maine<a/> </li>
    <li> <a href="/cor" >Coresite Realty<a/> </li>
    <li> <a href="/grub" >GrubHub<a/> </li>
    <li> <a href="/kbr" >KBR Inc<a/> </li>
    <li> <a href="/pcar" >PACCAR<a/> </li>
    <li> <a href="/shop" >Shopify<a/> </li>
    <li> <a href="/swir" >Sierra Wireless<a/> </li>
    <li> <a href="/ttwo" >Take-Two Interactive <a/> </li>
    <li> <a href="/xyl" >Xylem<a/> </li>
  </ul>

  <!-- <ul>
   <h2> ALPHA HOLDINGS </h2>
   <li> <a href="/dis" >Disney</a> </li>
  </ul> -->


  <ul>
    <h2> WATCH LIST </h2>
    <li> <a href="/chrw" > CH Robinson Worldwide<a/> </li>
    <li> <a href="/ddd" > 3D Systems Corp<a/> </li>
    <li> <a href="/rop" > Roper Technologies Inc<a/> </li>
    <li> <a href="/mtch" > Match Group Inc<a/> </li>


  </ul>

<br>
<br>

<h2> ENTER A TICKER </h2>
  <form method="POST">
    <input type="text" name="input_ticker" value= "{{input_ticker}}" autofocus="autofocus" />
    <!-- <input type="float" name="purchase_price" value= "{{purchase_price}}" autofocus="autofocus" /> -->
    <input type="submit" value="CLICK TO FIND" />
  </form>
<br>
{% if results %}
  <table>
      <tr>
          <th>Ticker</th>
          <th>Company</th>
          <th>Current Price</th>
          <th>PE Ratio</th>
          <th>Action</th>
      </tr>
      <tr>
        <td> {{ results["ticker"] }} </td>
        <td> {{ results["name"] }} </td>
        <td> ${{ results["current_price"] }} </td>
        <td> {{ results["pe_ratio"] }} </td>
        <td> <form method="POST">
          <input type="text" name="input_ticker" value= "{{input_ticker}}" autofocus="autofocus" />
          <input type="submit" value="Find ticker" />
        </form>


         </td>

      </tr>
  </table>
{% endif %}
</body>

</html>
