<!DOCTYPE html>
<html>

<title> CAPSTONE EQUITY PORTFOLIO - Recently Sold </title>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <h1> {{ x["name"] }} </h1>

  <h2> Ticker: {{ x["ticker"].upper() }} </h2>
  <h2> Sector: {{ x["sector"] }} </h2>

<table>
  <tr>
      <th> Fundamental Data </th>
      <th>                  </th>
  </tr>
  <tr>
      <td> Market Cap </td>
      <td> {{ '${:,.2f}'.format(x["market_cap"]) }} </td>
  </tr>
  <tr>
      <td> Today's Volume  </td>
      <td> {{ '{:,.0f}'.format(x["volume"]) }} </td>
  </tr>
  <tr>
      <td> Average Daily Volume </td>
      <td> {{ '{:,.0f}'.format(x["avg_volume"]) }} </td>
  </tr>
  <tr>
      <td> P/E Ratio </td>
      <td> {{ '{:,.2f}'.format(x["pe_ratio"]) }} </td>
  </tr>
</table>



<table>
  <tr>
      <th> Price Data </th>
      <th>            </th>
  </tr>
  <tr>
      <td> Previous Close </td>
      <td> {{ '${:,.2f}'.format(x["prev_close"]) }} </td>
  </tr>
  <tr>
      <td> Current Price </td>
      <td> {{ '${:,.2f}'.format(x["current_price"]) }} </td>
  </tr>
  <tr>
      <td> Daily Price Change </td>
      <td> {{ '{:,.2%}'.format(x["percent_change"]) }}  </td>
  </tr>
  <tr>
      <td> Purchase Price </td>
      <td> {{ '${:,.2f}'.format(x["purchase_price"]) }} </td>
  </tr>
  <tr>
      <td> Return </td>
      <td> {{ '{:,.2%}'.format(x["stock_return"]) }} </td>
  </tr>
</table>


</body>

</html>
