<!DOCTYPE html>
<html>

<title> Devlin Equity Prtfolio </title>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <h1> {{ x["name"] }} </h1>

  <h2> Sector: {{ x["sector"] }} </h2>

  <h3> Market cap </h3>
  {{ '${:,.2f}'.format(x["market_cap"]) }}

  <h3> Ticker </h3>
  {{ x["ticker"].upper() }}

  <h3> Previous Close </h3>
  {{ '${:,.2f}'.format(x["prev_close"]) }}

  <h3> Current Price </h3>
  {{ '${:,.2f}'.format(x["current_price"]) }}

  <h3> Target Price </h3>
  {{ '${:,.2f}'.format(x["target_price"]) }}

  <h3> Percent Above Target </h3>
  {{ '{:,.2%}'.format(x["above_target"]) }}





</body>

</html>
