<!DOCTYPE html>
<html>

<title> CAPSTONE EQUITY PORTFOLIO - Potential Purchases </title>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <h1> {{ x["name"] }} </h1>

  <h2> Ticker: {{ x["ticker"].upper() }} </h2>
  <h2> Sector: {{ x["sector"] }} </h2>

<table>
  <tr>
      <th> Fundamental Data </th>
      <th>                  </th>
  </tr>
  <tr>
      <td> Market Cap </td>
      <td> {{ x["market_cap"] }} </td>
  </tr>
  <tr>
      <td> Today's Volume  </td>
      <td> {{ x["volume"] }} </td>
  </tr>
  <tr>
      <td> Average Daily Volume </td>
      <td> {{ x["avg_volume"] }} </td>
  </tr>
  <tr>
      <td> P/E Ratio </td>
      <td> {{ x["pe_ratio"] }} </td>
  </tr>
</table>

<br>
<br>

<table>
  <tr>
      <th> Price Data </th>
      <th>            </th>
  </tr>
  <tr>
      <td> Previous Close </td>
      <td> {{ x["prev_close"] }} </td>
  </tr>
  <tr>
      <td> Current Price </td>
      <td> ${{ x["current_price"] }} </td>
  </tr>
  <tr>
      <td> Daily Price Change </td>
      <td> {{ x["percent_change"] }}  </td>
  </tr>
  <tr>
      <td> Target Price </td>
      <td> ${{ x["target_price"] }} </td>
  </tr>
  <tr>
      <td> Percent Above Target </td>
      <td> {{ x["above_target"] }} </td>
  </tr>
</table>


</body>


</html>
